doctype html
html
    head
        title Página de Contato
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    body
        .container
            h1 Página de Contato
            p Esta é a página de contato.
            a.btn.btn-secondary(href='/') Voltar para a Página Inicial