doctype html
html
    head
        title Página Inicial
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    body
        .container
            h1.mb-4 Olá, este é o índice!
            p Bem-vindo ao nosso site. Aqui você encontrará informações sobre nós e como entrar em contato.
            a.btn.btn-primary(href='/contact') Ir para Contato
            a.btn.btn-secondary.mt-2(href='/sobre') Saiba mais sobre nós
